:root{
    --page-bg: #3D5A80;
    --border-bg: #293241;
    --container-bg: #98C1D9;
    --text-color: #EDF6F9;
    --font:  Arial, Helvetica, sans-serif;
}
*{
    font-family: var(--font);
}
body{
    background-color: var(--page-bg);
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
#win-txt{
    padding: 10px;
    background-color: var(--border-bg);
    color: var(--text-color);
}
#game-board{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    margin: 30px;
    background-color: var(--container-bg);
    border: solid 10px var(--border-bg);
}
.card{
    width: 105px;
    height: 180px;
    margin: 10px;
    background-size: contain;
    perspective: 800px;
    transform-style: preserve-3d;
    position: relative;
}
.card.flipped .card-front{
    transform: rotateY(0deg);
}
.card.flipped .card-back{
    transform: rotateY(180deg);
}
.card-back{
    background-image: url(assets/Card_Back.webp);
    width: 100%; height: 100%;
    background-size: contain;
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(0deg);
    transition: transform 0.6s;
}
.card-front{
    width: 100%; height: 100%; 
    background-size: contain;
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
    transition: transform 0.6s;
}
.card1 .card-front{
    background-image: url(assets/Albedo_Card.webp);
} 
.card2 .card-front{
    background-image: url(assets/Arlecchino_Card.webp);
}
.card3 .card-front{
    background-image: url(assets/Collei_Card.webp);
}
.card4 .card-front{
    background-image: url(assets/Fischl_Card.webp);
}
.card5 .card-front{
    background-image: url(assets/Hu_Tao_Card.webp);
}
.card6 .card-front{
    background-image: url(assets/Rosaria_Card.webp);
}
.card7 .card-front{
    background-image: url(assets/Venti_Card.webp);
}
.card8 .card-front{
    background-image: url(assets/Yelan_Card.webp);
}
#start{
    border-radius: 9px;
    padding: 12px;
    color: var(--text-color);
    background-color: var(--border-bg);
    border-width: 0;
}